﻿<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="#/">{{ 'MENU_HOME' | translate}}</a></li>
            <li><a href="#/users">{{ 'MENU_USERS' | translate }}</a></li>
            <li class="active"><a href="#/about">{{ 'MENU_ABOUT' | translate }}</a></li>
        </ul>
        <h3 class="text-muted">{{ 'APP_NAME' | translate }}</h3>
    </div>

    <div class="container">

        <div class="jumbotron">

            <h1>{{ 'ABOUT_H1' | translate }}</h1>
            <p>{{ 'ABOUT_PRESENTED_BY' | translate }}</p>

        </div>

    </div>

</div>