﻿<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#/">{{ 'MENU_HOME' | translate}}</a></li>
            <li><a href="#/users">{{ 'MENU_USERS' | translate }}</a></li>
            <li><a href="#/about">{{ 'MENU_ABOUT' | translate }}</a></li>
        </ul>
        <h3 class="text-muted">{{ 'APP_NAME' | translate }}</h3>
    </div>

    <div class="container">

        <div class="jumbotron">
            <h2 class="text-center">Web-based Architectural, Design, and Development Standards</h2>
            <em class="text-muted">Proposed</em>
        </div>
        

        <h3>System Architecture</h3>
        <ul>
            <li>IIS 7/7.5</li>
            <li>SQL Server 2008 R2/2012</li>
        </ul>

        <h3>Application Architecture</h3>
        <ul>
            <li>Strict HTML5, CSS3, Javascript front-end.</li>
            <li>No server-side code in UI</li>
            <li>MVC Architecture shall be maintained within the UI</li>
            <li>AngularJS, JQuery strongly recommended as Javascript framework</li>
            <li>Responsive design strongly recommended in every application</li>
            <li>Twitter Bootstrap is an acceptable UI framework</li>
            <li>Utilize LocalStorage (HTML5) for performance and caching</li>
        </ul>

        <h3>Application Accessibility</h3>
        <ul>
            <li>Applications should not require VPN</li>
            <li>Outward-facing applications shall require SSL</li>
        </ul>

        <h3>API Architecture</h3>
        <ul>
            <li>UI shall be serviced by a fully RESTful API</li>
            <li>.NET WCF, ASP.NET Web API, or Node.js shall be the tools of choice</li>
            <li>C# shall be the .NET development standard</li>
            <li>Utilize caching within the API where applicable</li>
            <li>When designing an API, consider consumption needs outside the scope of the immediate UI. Applications should be developed with integration in mind.</li>
            <li>Code shall be cleanly segregated between the presentation (API), business logic (Service Managers), database communication (Data Providers), and common libraries</li>
            <li>Design Patterns
                <ul>
                    <li>Dependency Injection</li>
                    <li>Inversion of Control (IOC)</li>
                    <li>Abstract</li>
                    <li>Factory</li>
                    <li>Facade</li>
                </ul>
            </li>
            <li>Database CRUD operations shall be through Stored Procedures or via an integrated application's exposed API</li>
            <li>All HTTP POST, PUT, and DELETE methods shall be secure unless impractical. All HTTP GET methods exposing sensitive data shall be secure</li>
            <li>Authentication, Authorization, and Profile data shall consume existing systems wherever possible</li>
            <li>Application data should be shared, not duplicated</li>
            <li>Application meta-data should be maintained from within the API</li>
            <li>Major application events (system and transactional) should be logged for audit and debugging purposes where practical</li>
        </ul>

        <h3>Testing</h3>
        <ul>
            <li>Fake data-providers should be used for unit-testing and for development while application databases are unavailable</li>
            <li>Front-end code should be unit-tested where applicable</li>
            <li>Jasmine -- Suggested Javascript testing framework</li>
            <li>Unit-Test Projects should be included as part of each Visual Studio Solution</li>
            <li>Unit-testing should be performed at the API or Service-Manager level</li>
            <li>APIs should be Load Tested</li>
        </ul>

        <h3>Deployment Configuration</h3>
        <ul>
            <li>Deploy using IIS Site Package(s)</li>
            <li>Each Application is to be a unique site in IIS -- not Virtual Directory</li>
            <li>Unique Application Pool Account for Each Site/Application</li>
            <li>Applications and their cooresponding databases should be deployed in as close proximity as possible as to minimize latency issues</li>
        </ul>

        

    </div>

</div>