﻿<div class="container" ng-init="init()">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="#/">{{ 'MENU_HOME' | translate}}</a></li>
            <li class="active"><a href="#/users">{{ 'MENU_USERS' | translate }}</a></li>
            <li><a href="#/about">{{ 'MENU_ABOUT' | translate }}</a></li>
        </ul>
        <h3 class="text-muted">{{ 'APP_NAME' | translate }}</h3>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <h1>{{ 'USERS_MANAGE_USERS' | translate }}</h1>

            <table class="table table-striped">
                <thead>
                    <tr><th colspan="4"><input class="form-control search" ng-model="query" placeholder="{{ 'CAPTION_FILTER' | translate }}"></th></tr>
                    <tr><th></th><th>{{ 'USERS_LABEL_USERNAME' | translate }}</th><th>{{ 'USERS_LABEL_FIRSTNAME' | translate }}</th><th>{{ 'USERS_LABEL_LASTNAME' | translate }}</th></tr>
                </thead>
                <tbody>
                    <tr class="usersTableRow"></tr>
                </tbody>
            </table>

        </div>

        <div class="col-lg-4">

            <h2>{{ 'USERS_INSERT_USER' | translate }}</h2>
            <form role="form" ng-submit="createUser()">
                <div class="form-group">
                    <label for="userNameInput">{{ 'USERS_LABEL_USERNAME' | translate }}</label>
                    <input type="text" class="form-control search" id="userNameInput" placeholder="{{ 'USERS_LABEL_USERNAME' | translate }}" ng-model="user.UserName">
                </div>
                <div class="form-group">
                    <label for="firstNameInput">{{ 'USERS_LABEL_FIRSTNAME' | translate }}</label>
                    <input type="text" class="form-control" id="firstNameInput" placeholder="{{ 'USERS_LABEL_FIRSTNAME' | translate }}" ng-model="user.FirstName">
                </div>
                <div class="form-group">
                    <label for="lastNameInput">{{ 'USERS_LABEL_LASTNAME' | translate }}</label>
                    <input type="text" class="form-control" id="lastNameInput" placeholder="{{ 'USERS_LABEL_LASTNAME' | translate }}" ng-model="user.LastName">
                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus" ></i> {{ 'BUTTON_FINISH' | translate }}</button>
            </form>

        </div>

    </div>

    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="userNameInput" class="col-sm-3 control-label">{{ 'USERS_LABEL_USERNAME' | translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="userNameInput" placeholder="{{ 'USERS_LABEL_USERNAME' | translate }}" ng-model="userToEdit.UserName" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstNameInput" class="col-sm-3 control-label">{{ 'USERS_LABEL_FIRSTNAME' | translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstNameInput" placeholder="{{ 'USERS_LABEL_FIRSTNAME' | translate }}" ng-model="userToEdit.FirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastNameInput" class="col-sm-3 control-label">{{ 'USERS_LABEL_LASTNAME' | translate }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastNameInput" placeholder="{{ 'USERS_LABEL_LASTNAME' | translate }}" ng-model="userToEdit.LastName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'BUTTON_CANCEL' | translate }}</button>
                    <button type="button" class="btn btn-success" ng-click="updateUser()"><i class="fa fa-save"></i> {{ 'BUTTON_FINISH' | translate }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>